doctype html
html
    head
        link(rel="stylesheet", href="/css/application.css")
    body
        table#bla
            tr
                td(data-row="1", data-cell="1") 
                td(data-row="1", data-cell="2") 
                td(data-row="1", data-cell="3") 
                td(data-row="1", data-cell="4") 
                td(data-row="1", data-cell="5") 
                td(data-row="1", data-cell="6") 


        script(src="/js/application.js")
